* {
  margin: 0;
  padding: 0;
  background-color: white;
}

/*header*/
header {
  color: #000000;
  background-color: #CB3C3C;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 30px;
}

/*width 100%*/
:is(ul, .text, form, form input, .text, .social-link, h1, .img4, .img2, .delivery, h3, h2, .hero, .tex-index) {
  width: 100%;
}

/*Display FLex - Center*/
:is(header, .social-link, h1, .img1, .texts, .text, footer, p, .delivery, h3, .hero, .textt, .tex-index, .textt-index) {
  display: flex;
  justify-content: center;
  align-items: center;
}

:is(.textt, .tex-index, .textt-index) {
  margin: 10px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

:is(footer, .text) {
  margin-top: 10px;
  flex-direction: column;
  background-color: #CB3C3C;
  color: black;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  list-style: none;
}

ul:hover a:hover {
  color: #CB3C3C;
}

.text {
  color: #000000;
}

.boton {
  color: #CB3C3C;
  background-color: rgb(1, 1, 1);
}

form {
  height: 100vh;
  color: rgb(209, 80, 80);
  padding: 10px;
}

#logo {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

h1 {
  margin: 20px 0 20px 0;
  padding: auto;
  color: #CB3C3C;
  background-color: transparent;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.img1 {
  width: 255px;
  height: 461px;
}

.img4 {
  height: 500px;
}

.tex {
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: #CB3C3C;
  text-transform: uppercase;
}

.texts {
  padding: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.promo {
  font-family: fantasy;
  font-size: 128px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #CB3C3C;
}

.img2 {
  height: 380px;
}

.delivery {
  border-bottom: solid #000000 1px;
}

ul {
  width: 100%;
}
ul li {
  color: #000000;
}
ul li:hover {
  color: #CB3C3C;
}
ul li:hover p {
  color: white;
  border: 10px solid #CB3C3C;
  border-radius: 20px;
  background-color: #CB3C3C;
}

h3 {
  margin-top: 30px;
  background-color: white;
  color: #000000;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
  text-decoration-color: #CB3C3C;
}

h2 {
  color: rgb(22, 21, 21);
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 22px;
}

.carousel-indicators {
  background-color: #CB3C3C;
}

.carousel-caption {
  background-color: #CB3C3C;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.img5 {
  width: 200px;
  height: 200px;
}

.hero {
  position: relative;
  height: 100vh;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../assets/front-view-professional-kitchen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(60%);
}

.hero-content {
  position: relative;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: #000000;
  text-align: center;
  margin: 0.625rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 20px;
  background-color: transparent;
}

.hero-title {
  font-size: Arial, Helvetica, sans-serif;
  font-weight: 200;
  margin-top: 1rem;
}

.hero-button button {
  background-color: #CB3C3C;
  color: white;
  border: 1px solid #000000;
  border-radius: 20px;
  margin-top: 5rem;
  padding: 0.9375rem 1.875rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #c92f2f;
  border: 1px solid #a35370;
}

.tex-index {
  color: #000000;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 20px;
  text-decoration: underline;
  text-decoration-color: #CB3C3C;
}

a {
  text-decoration: none;
}
a p {
  color: #000000;
}

a .textt-index:hover {
  color: #CB3C3C;
}

a .texts:hover {
  color: #CB3C3C;
}

.hero-subtitle {
  color: white;
}

.social-link {
  text-decoration: none;
  flex-direction: row;
  background-color: #CB3C3C;
}

.social-link a {
  margin: 10px;
  text-decoration: none;
  background-color: #CB3C3C;
  color: #131212;
}

/*# sourceMappingURL=estilos.css.map */
