//variables//
@import '../scss/colores.scss';
@import '../scss/fuentes.scss';

*{
    margin: 0;
    padding: 0;
    background-color: $color-secundario;

}
header{
    color: $color-terciario;
    background-color: $color-primario;
    font-family: $font-titulos;
    font-size: 30px ;
}
/*width 100%*/
:is(ul, .text, form, form input, .text, .social-link, h1, .img4, .img2, .delivery, h3, h2, .hero, .tex-index){
    width: 100%;
}
/*Display FLex - Center*/
:is(header, .social-link, h1, .img1, .texts, .text, footer, p, .delivery, h3, .hero, .textt, .tex-index, .textt-index) {
    display: flex;
    justify-content: center;
    align-items: center;
}


ul{
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}

ul:hover a:hover {
    color: $color-primario;
}

.text {
    color:$color-terciario;
}

.boton {
    color: $color-primario;
    background-color: rgb(1, 1, 1);
}



form {
    height: 100vh;
    color: rgb(209, 80, 80);
    padding: 10px;
}


#logo {
    width:50%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

.social-link {
    text-decoration: none;
    flex-direction: row;
    background-color:$color-primario;
}
.social-link a {
    margin: 10px;
    text-decoration: none;
    background-color:$color-primario;
    color: #131212;
}

h1{
    margin:20px 0 20px 0;
    padding: auto;
    color:$color-primario;
    background-color: transparent;
    font-family: $font-titulos;
    font-size: 50px;
    font-weight: bold;
}

.img1 {
    width: 255px;
    height: 461px;
}

.img4 {
    height: 500px;
}

.tex{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-primario;
    text-transform: uppercase;
}


.texts{
padding: 50px;
font-family: $font-titulos;
font-size: 50px;
}
:is(footer, .text) {
    margin-top: 10px;
    flex-direction: column;
    background-color: $color-primario;
    color:black;
    font-size: 30px;
    font-family: $font-titulos;

}
p{
    font-family: $font-secundario;
    font-size: 20px;
    font-weight: bold;
}

.promo {
    font-family: fantasy;
    font-size: 128px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-primario;
}

.img2{
    height: 380px;
}

.delivery{
    border-bottom: solid $color-terciario 1px;
}
ul{
    width: 100%;

    li{
        color: $color-terciario ;
        &:hover{
            color: $color-primario;
        p{
            color: $color-secundario;
            border: 10px solid $color-primario;
            border-radius: 20px;
            background-color: $color-primario;
        }
    }
}
}

h3{
    margin-top: 30px;
    background-color: $color-secundario;
    color: $color-terciario;
    padding: 10px;
    font-family: $font-secundario;
    text-decoration: underline;
    text-decoration-color: $color-primario;
}
h2 {
    color: rgb(22, 21, 21);
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: $font-titulos;
    font-size: 22px;

}
.carousel-indicators{
    background-color: $color-primario;
}

.carousel-caption{
    background-color: $color-primario;
}


.container{
    display:  grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}
.img5{
    width: 200px;
    height: 200px;
}

.hero{
    position: relative;
    height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/front-view-professional-kitchen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content{
    position: relative;
    font-family: $font-titulos;
    color: $color-terciario;
    text-align: center;
    margin: 0.625rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: transparent;
}

.hero-title{
    font-size: $font-secundario;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button button{
    background-color: $color-primario;
    color: $color-secundario;
    border: 1px solid $color-terciario;
    border-radius: 20px;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: $font-secundario;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #c92f2f;
    border: 1px solid #a35370;
}

:is(.textt, .tex-index, .textt-index){
    margin: 10px;
    padding: 10px;
    font-family: $font-secundario;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.tex-index{
    color: $color-terciario;
    font-family: $font-titulos;
    padding: 20px;
    text-decoration: underline;
    text-decoration-color: $color-primario;

}

a{
    text-decoration: none;
    p{
        color: $color-terciario;
    }
}

a{
    .textt-index{
        &:hover{
            color: $color-primario;

        }
    }
}

a{
    .texts{
        &:hover{

            color: $color-primario;
        }
    }
}

.hero-subtitle{
    color: $color-secundario;
}
