//variables//
@import '../scss/colores.scss';
@import '../scss/fuentes.scss';

*{
    margin: 0;
    padding: 0;
    background-color:  #ffffff;

}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-terciario;
    background-color: $color-primario;
    font-family: $font-titulos;
    font-size: 30px ;
}

ul{
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}

ul:hover a:hover {
    color: $color-primario;
    box-shadow: 0 2px 0 0 currentColor;
}

.text {
    color:rgb(15, 15, 15);
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boton {
    color: $color-primario;
    background-color: rgb(1, 1, 1);
}

form {
    background-color: navy;
    width: 100%;
    height: 100vh;
    color: black;
    padding: 30px;
}
form input {
    width: 100%;
}

form textarea { 
    width: 100%;
}

li{
    padding:20px;

}

#logo {
    width:50%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

.text {
    width: 100%;
}
.social-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color:$color-primario;
}
.social-link a {
    margin: 10px;
    text-decoration: none;
    background-color:$color-primario;
    color: #131212;
}

h1{
    margin:20px 0 20px 0;
    padding: auto;
    color:$color-primario;
    background-color: transparent;
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: $font-titulos;
    font-size: 50px;
    font-weight: bold;
}

.img1 {
    width: 255px;
    height: 461px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img4 {
    width: 100%;
    height: 500px;
}

.tex{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: $color-primario;
    text-transform: uppercase;
}


.texts{
width: 255px;
height: 461px;
display: flex;
justify-content: center;
align-items: center;
font-family: $font-titulos;
font-size: 50px;
}
:is(footer, .text) {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $color-primario;
    color:black;
    font-size: 30px;
    font-family: $font-titulos;

}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-secundario;
    font-size: 20px;
    font-weight: bold;
}

.promo {
    font-family: fantasy;
    font-size: 128px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $color-primario;
}

.img2{
    width: 100%;
    height: 380px;
}
.textt{
    margin: 10px;
    padding: 10px;
    font-family: $font-secundario;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}
.delivery{
    width: 100%;
    border-bottom: solid $color-terciario 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 100%;

    li{
        color: $color-terciario ;
        &:hover{
            color: $color-primario;
        p{
            color: $color-secundario;
            border: 10px solid $color-primario;
            border-radius: 20px;
            background-color: $color-primario;
        }
    }
}
}

h3{
    margin-top: 30px;
    width: 100%;
    background-color: $color-secundario;
    color: $color-terciario;
    padding: 10px;
    display: flex;
    justify-content: center;
    font-family: $font-secundario;
    text-decoration: underline;
    text-decoration-color: $color-primario;
}
h2 {
    width: 100%;
    color: white;
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items:center;
    font-family: $font-titulos;
    font-size: 22px;

}
.carousel-indicators{
    background-color: $color-primario;
}

.carousel-caption{
    background-color: $color-primario;
}

.navbar-nav{
    color:$color-primario;
}

.container{
    display:  grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}
.img5{
    width: 200px;
    height: 200px;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../assets/front-view-professional-kitchen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero-content{
    position: relative;
    font-family: $font-titulos;
    color: $color-terciario;
    text-align: center;
    margin: 0.625rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
    background-color: transparent;
}

.hero-title{
    font-size: $font-secundario;
    font-weight: 200;
    margin-top: 1rem;
}

.hero-button button{
    background-color: $color-primario;
    color: $color-secundario;
    border: 1px solid $color-terciario;
    border-radius: 20px;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: $font-secundario;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}

.hero-button:hover {
    background-color: #c92f2f;
    border: 1px solid #a35370;
}
