*{
    margin: 0;
    padding: 0;
    background-color:  #ffffff;

}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: none;
    transition: 0.25s ease;
}

ul{
    width:100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    list-style: none;
}

ul:hover a:hover {
    color: #CB3C3C;
    box-shadow: 0 2px 0 0 currentColor;
}

.text {
    color:rgb(15, 15, 15);
    width: 100%;
    margin: auto;
    padding: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.boton {
    color: rgb(218, 23, 75);
    background-color: rgb(1, 1, 1);
}

form {
    background-color: navy;
    width: 100%;
    height: 100vh;
    color: black;
    padding: 30px;
}
form input {
    width: 100%;
}

form textarea { 
    width: 100%;
}
h3 {
    margin: auto;
    padding: auto;
    color: #CB3C3C;
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
#barra-navegacion {
    width: 100%;
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    justify-content:space-around;
}

#barra-navegacion a{ 
    width: 100%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    padding:20px;

}

#logo {
    width:50%;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

.text {
    width: 100%;
}
.social-link {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #CB3C3C;
}
.social-link a {
    background-color: #CB3C3C;
    color: #131212;
}

h1{
    margin:20px 0 20px 0;
    padding: auto;
    color: #CB3C3C;
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

.barra-carrusel{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.barra-carrusel p{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-transform: none;
    transition: 0.25s ease;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img1 {
    width: 255px;
    height: 461px;
}
.img2 {
    width: 255px;
    height: 461px;
}
.img3 {
    width: 255px;
    height: 461px;
}

.texts{
width: 255px;
height: 461px;
display: flex;
justify-content: center;
align-items: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 50px;
}
:is(header, footer, .text) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #CB3C3C;
    color:black;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
@media (max-width: 400px) {
    div{
        display: flex;
        flex-direction: column;
    }
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
}